{% extends 'base.html' %}


{% block 'content' %}
    <div class="row">
    {% for flan in flanes %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{{flan.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{flan.name}}</h5>
                <p class="card-text">{{flan.description}}</p>
                <a href="#" class="btn btn-primary">¡Pídelo ya!</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock 'content' %}